<app-nav></app-nav>

<section class="grid grid-flow-col grid-cols-6 w-full h-h-chat-full">
  <div class="bg-gray-600 h-full w-full col-span-1 mx-auto">
    <div>
      <div class="flex flex-col justify-center items-center py-3 px-2">
        <p class="mb-2">
          Hello <span class="font-bold">{{ this.user.username }}</span>
        </p>

        <button
          (click)="onCreateNewConversationClick()"
          class="w-full py-2 border-2 border-blue-400 rounded-lg font-normal justify-around flex mb-3 transition ease-in-out duration-700 hover:rounded-none"
        >
          <span> Create new chat</span>
          <i class="bi bi-plus-circle text-md"></i>
        </button>
      </div>
      <div class="history-section px-1">
        <p class="mb-2 px-3">Your History</p>

        <div class="historyList flex flex-col gap-2">
          <div
            class="history-item relative rounded p-2 flex justify-between cursor-pointer transition duration-500 hover:bg-gray-400"
            *ngFor="let conversation of conversations"
          >
            <a
              (click)="handelNavigate(conversation.id)"
              class="flex gap-2 flex-wrap"
            >
              <i class="bi bi-clock-history"></i>
              <p *ngIf="!isEditing" class="">{{ conversation.name }}</p>
              <input
                *ngIf="isEditing"
                type="text"
                [(ngModel)]="currentConversation!.name"
                class="max-w-[7rem] bg-gray-200 border border-gray-600 focus:border-blue-500 focus:ring-blue-500 focus:outline-none rounded-md px-4 py-2"
                (click)="$event.stopPropagation()"
                (mousedown)="$event.stopPropagation()"
                #inputField
              />
              <div class="flex gap-1">
                <button
                  (click)="onDeleteClick(conversation.id)"
                  class="hover:bg-blue-300 p-1 rounded"
                >
                  <i class="bi bi-trash-fill"></i>
                </button>
                <button
                  *ngIf="!isEditing"
                  class="hover:bg-blue-300 p-1 rounded"
                  (click)="toggleEditing(conversation.id)"
                >
                  <i class="bi bi-pencil-fill"></i>
                </button>
                <button
                  *ngIf="isEditing"
                  class="hover:bg-blue-300 p-1 rounded"
                  (click)="onEditClick(currentConversation!.id)"
                >
                  <i class="bi bi-check-lg hover:bg-blue-300 p-1 rounded"></i>
                </button>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="current-chat bg-gray-700 w-full h-full col-span-5 px-10 py-10 relative overflow-hidden"
  >
    <div class="h-chat-messages overflow-y-auto overflow-x-hidden messages">
      <div class="flex justify-center">
        <div
          *ngIf="this.currentConversationMessages.length === 0"
          class="w-[500px] flex justify-center"
        >
          <img src="/assets/no-data.png" alt="" />
        </div>
      </div>

      <div
        class="message-container"
        *ngFor="let message of currentConversationMessages"
      >
        <div class="container block flex flex-col justify-end items-end">
          <div class="flex gap-2 justify-end items-start">
            <p
              class="question py-2 px-3 bg-blue-300 float-right rounded-t-2xl rounded-bl-2xl w-fit mb-6 h-fit"
            >
              {{ message.question }}
            </p>
            <img
              [src]="this.user.avatar"
              alt=""
              class="rounded-full w-10 h-9"
            />
          </div>

          <!--  -->

          <div class="px-3 pr-8 flex">
            <p
              class="px-3 answer message float-left py-1 bg-blue-200 rounded-t-2xl rounded-br-2xl w-fit mb-4 h-fit ml-auto"
            >
              {{ message.answer }}
            </p>
          </div>
        </div>

        <span class="block w-full mx-8 border border-gray-400 mb-4"></span>
      </div>
    </div>

    <!--bottom of window-->
    <div class="absolute bottom-12 right-32 left-32">
      <input
        type="text"
        name="question"
        id="question"
        [(ngModel)]="question"
        placeholder="Do you have any health concern ..."
        class="w-full h-10 pr-24 pl-4 outline-blue-400 rounded-md"
      />

      <button
        class="rounded-md bg-green-400 py-1 px-6 absolute right-3 top-1"
        (click)="onAskClick()"
        (keyup.enter)="onAskClick()"
      >
        Ask
      </button>
    </div>
  </div>
</section>
