<header>
  <nav
    class="border-b border-gray-300 py-2 px-10 sm:flex sm:flex-nowrap w-full shadow-sm sm:justify-between sm:items-center"
  >
    <div class="">
      <a
        routerLink="/"
        class="flex items-center text-lg font-semibold text-gray-900"
      >
        <img class="w-8 h-8 mr-2" src="assets/chat.png" alt="logo" />
        CureChat
      </a>
    </div>

    <div class="">
      <ul class="sm:flex sm:gap-6">
        <li class="text-lg font-light group relative">
          <a routerLink="/" class="text-blue-900 font-bold"> Home </a>

          <span
            class="absolute -bottom-1 left-0 w-0 h-0.5 bg-blue-400 transition-all group-hover:w-full"
          ></span>
        </li>
        <li class="text-lg font-light group relative">
          <a href="#" class="active:text-blue-300">About</a>

          <span
            class="absolute -bottom-1 left-0 w-0 h-0.5 bg-blue-400 transition-all group-hover:w-full"
          ></span>
        </li>
        <li class="text-lg font-light group relative">
          <a href="#">Schedule</a>
          <span
            class="absolute -bottom-1 left-0 w-0 h-0.5 transition-all bg-blue-400 group-hover:w-full"
          ></span>
        </li>
        <li class="text-lg font-light group relative">
          <a routerLink="/user/messages">Messages</a>
          <span
            class="absolute -bottom-1 left-0 w-0 h-0.5 transition-all bg-blue-400 group-hover:w-full"
          ></span>
        </li>
      </ul>
    </div>

    <div class="">
      <button
        class="btn2 text-gray-600 bg-gray-50 border-gray-50 px-3 py-2 rounded shadow relative border font-semibold overflow-hidden hover:text-white"
        type="button"
      >
        <span class="absolute inset-0 bg-blue-400"></span>
        <span
          class="absolute inset-0 flex justify-center items-center font-bold"
        >
          Contact Us
        </span>
        Contact Us
      </button>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
