<div class="fixed bottom-3 right-4">
  <img
    *ngIf="showChatIcon"
    (click)="handelIconClick()"
    src="assets/chatIcon.png"
    alt="icon"
    class="animate-bounce z-40 w-14 cursor-pointer"
  />
  <!-- <span class="absolute -top-3 right-0 flex h-3 w-3">
    <span
      class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"
    ></span>
    <span class="relative inline-flex rounded-full h-3 w-4 bg-green-500"></span>
  </span> -->
  <div
    *ngIf="showChatBox"
    class="absolute py-2 py-3S bottom-4 rounded-t-xl right-4 rounded-bl-xl bg-gray-200 border w-96"
  >
    <p
      class="px-8 items-center font-bold uppercase border-b border-blue-400 pb-1 flex justify-between"
    >
      Chat box
      <i
        class="ml-4 text-sm bg-red-300 rounded px-2 py-1 cursor-pointer bi-x-lg"
        (click)="handelCloseBtnClick()"
      ></i>
    </p>

    <div class="mt-2 group h-96 relative px-2">
      <p
        class="message py-1 px-3 bg-blue-300 mr-16 rounded-t-xl rounded-br-xl w-fit"
      >
        hello can you please propose me a treatment for this and that and this I
        feel this and this and that
      </p>
      <p
        class="mt-4 answer message float-right py-1 px-3 bg-green-300 ml-16 rounded-t-xl rounded-bl-xl w-fit"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, quas
        unde sint corporis exercitationem ipsam, est asperiores facere, eos iure
        vel alias praesentium dignissimos dolore molestias dolorum aperiam
        quibusdam sit.
      </p>

      <div class="absolute bottom-0 right-2 left-2">
        <form>
          <div class="relative">
            <textarea
              name="input"
              class="w-full bg-gray-300 pl-3 outline-none focus:outline-blue-400 pr-8"
            ></textarea>
            <span class="absolute z-10 right-1 top-2 cursor-pointer">
              <i class="bi-send text-3xl font-bold"></i
            ></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
