<section class="relative w-full">
  <div class="mt-10 max-w-6xl mx-auto">
    <div class="flex justify-between py-6">
      <div class="w-full mt-10">
        <h1 class="font-bold text-3xl tracking-wider">
          Get the care you need,
          <span class="block w-20 h-1 border-b-4 border-blue-500"></span>
          anytime, anywhere with <br />
          our chat bot by your side!
        </h1>

        <p class="font-normal mt-2 text-gray-900">
          Our chat bot is designed to provide patients with reliable and
          convenient access to healthcare information and support. With our chat
          you can easily ask questions, get guidance on symptoms, and receive
          personalized recommendations for care.
        </p>

        <div class="mt-6 flex gap-5">
          <button
            class="px-12 py-2 rounded bg-green-600 text-white font-semibold transition-all duration-300 shadow ease-in-out hover:scale-105 group"
          >
            <span>Sing up for free</span>
            <i
              class="ml-4 bi-arrow-right text-lg font-bold float-right transition-all duration-700 ease-in-out group-hover:translate-x-4"
            ></i>
          </button>
          <button
            class="px-16 py-2 border-dotted bg-white border-green-600 border-2 text-black font-semibold flex gap-4 transition-all duration-300 ease-in-out hover:bg-gray-200 hover:border-gray-200"
          >
            Get started <span class=""></span>
          </button>
        </div>
      </div>

      <div class="w-full flex justify-center">
        <img src="assets/hero-img2.png" alt="hero" srcset="" class="w-3/4" />
      </div>
    </div>
  </div>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 320"
    class="absolute w-full bottom-0 -z-50 opacity-60"
  >
    <path
      fill="#0099ff"
      fill-opacity="1"
      d="M0,32L48,58.7C96,85,192,139,288,160C384,181,480,171,576,149.3C672,128,768,96,864,96C960,96,1056,128,1152,133.3C1248,139,1344,117,1392,106.7L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
    ></path>
  </svg>
</section>

<app-chat></app-chat>

<app-hero-cards></app-hero-cards>

<app-card-presntation></app-card-presntation>
