:host {
  display: block;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.list-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;

  .btn-menu {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0.5rem 1rem;
  }

  .uil {
    font-size: 1.5rem;
  }
}

.title {
  padding: 0 1rem;
  font-weight: 500;
}

.wrapper-avatar {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0 1rem;
}

.wrapper-avatar img {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  object-fit: cover;
}

.wrapper-body {
  display: flex;
  justify-content: center;
  min-height: 20rem;
  padding: 2rem;
}

.wrapper-body .label-title {
  text-align: center;
  padding: 0.5rem;
  font-weight: 500;
}

.wrapper-body .block .btn-block {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: solid 3px rgb(255 255 255 / 59%);
  width: 10rem;
  height: 10rem;
  color: white;
  font-size: 5rem;
}

.wrapper-body .block .btn-block:hover {
  transition: all ease 300ms;
}
