<div class="header animate__animated animate__fadeIn shadow bg-gray-300">
  <div class="section">
    <a class="title" routerLink="/">MEETING SPACE</a>
  </div>
  <div class="section">
    <ul class="list-menu">
      <li class="btn-menu">
        <a
          routerLink="/"
          class="flex items-center text-lg font-semibold text-gray-900"
        >
          <img class="w-8 h-8 mr-2" src="assets/chat.png" alt="logo" />
          CureChat
        </a>
      </li>
    </ul>
  </div>
  <div class="section flex gap-2 items-center justify-center">
    <a
      *ngIf="!userAuthenticated"
      routerLink="/auth/login"
      class="bg-blue-400 px-2 py-1 rounded border-[1px] border-gray-500 hover:bg-blue-500 text-white"
      >Login</a
    >
    <a
      *ngIf="!userAuthenticated"
      routerLink="/auth/register"
      class="bg-blue-400 px-2 py-1 rounded border-[1px] border-gray-500 hover:bg-blue-500 text-white"
      >Signup</a
    >
    <span *ngIf="userAuthenticated" class="font-medium">{{ username }}</span>

    <div class="wrapper-avatar">
      <img
        *ngIf="userAuthenticated"
        [src]="userAvatar"
        alt="profile picture "
        class="w-9 h-9"
      />
    </div>
  </div>
</div>

<div class="flex justify-evenly w-full items-center pt-16">
  <div class="wrapper-body col-span-1">
    <div
      class="block animate__animated animate__fadeIn pt-10"
      (click)="goToRoom()"
    >
      <div class="btn-block bg-blue-500 shadow-xl hover:bg-blue-700">
        <i class="uil uil-video"></i>
      </div>
      <div class="text-xl font-bold text-center">New meeting</div>
    </div>
  </div>

  <div class="col-span-1 w-full max-w-[500px] flex justify-center">
    <img src="assets/meet.png" width="w-fit" alt="avatar" />
  </div>
</div>
